<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Play" rel="stylesheet">


    <title>Bio</title>
</head>
<body>
    <a href="index.html"><font color="magenta">return</font> home</a>
    <h1>
        <font color="goldenrod">#my-bio</font><font color="white"> {</font>
        <p>// Male<br>
        // Korean<br>
        // Age > 21<br>
        // Hometown: Anchorage, AK<br>
        // City dweller. Sports junkie. Travel mammal.<br>
        // Last Seen: AK, Seattle, Austin, LA/OC, Bay Area<br>
        // Current Location: Unknown<br>
        // Let's Go Dodgers!</p>
        <font color="white">};</font>
    </h1>
</body>
</html>