<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Play" rel="stylesheet">


    <title>Contact</title>
</head>
<body>
        <a href="index.html" id="home"><font color="magenta">return</font><font color="skyblue"> home</font><font color="white">;</font></a>

    <h1>
        <font color="goldenrod">#contact-info</font><font color="white"> {</font>
            <p>// Email: charleskyun@gmail.com<br>
            // IG: <a href="https://www.instagram.com/chazdelaseoul/" id="contact" target="_blank">chazdelaseoul</a><br>
            // github: <a href="https://c-yun.github.io/" id="contact" target="_blank">c-yun.github.io</a><br>
            // website: <a href="http://charlesyun.com/" id="contact" target="_blank">charlesyun.com</a></p>
        <font color="white">};</font>
    </h1>
</body>
</html>