<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Play" rel="stylesheet">
    <title>My Page</title>

</head>
<body>
    <section>
    <h1>
        <font color="blue">Hi,</font><font color="skyblue">I'm Charles,</font>
        <font color="#f1f261">studentSoftwareEngineer.</font>
    </h1>

    <div>
        <a href="about.html"><font color="white">(</font>'My Bio'<font color="white">)</font></a>
        <a href="contact.html"><font color="white">(</font>'Contact Info'<font color="white">)</font></a>
        <a href="skills.html"><font color="white">(</font>'My Skillz'<font color="white">)</font></a>
    </div>
    <h1>
        <br>
        <br>
        <p>// Welcome to my page<br><br>
        <font color="blue">let</font><font color="skyblue"> theGoodTimesRoll<font color="white">;</font></p>
    
    </h1>

    </section>

</body>
</html>